<h1 class="py-4">Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>

<p class="m-3">
  <a class="btn btn-success" href="/places/new">New place</a>
</p>