<h1 class="py-3">Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>

<p class="m-10">
  <a href="/places/new">New place</a>
</p>